.main-page-content {
    display: flex;
    color: white;
    height: 90vh;
}

.home-background {
    /* background-image: url('./stars4.jpg'); */
    background-image: url('./Computer.jpg') !important;
    background-size: 100% 100%;  
    background-repeat: no-repeat;
}


.home-left {
    width: 50%;
    margin: auto;
    text-align: center;
}

.home-right{
    width: 50%;
    margin: auto;
    text-align: center;
    
}
